# ==========================================
# FRONTEND MUHITI NAMUNA SOZLAMALARI
# ==========================================

# Backend REST API asosiy manzili
NEXT_PUBLIC_API_URL=http://localhost:5001/api

# Backend server manzili (statik fayllar va rasmlar uchun)
NEXT_PUBLIC_BACKEND_URL=http://localhost:5001

# Frontend veb-sayt manzili
NEXT_PUBLIC_SITE_URL=http://localhost:3000
